/* Quiz styles */

$light_background: aliceblue;
$font: sans-serif;
$margin_l: 50px;
$padd: 10px;

@mixin border($border: 2px, $radius: 20px){
    border: $border solid #064277;
    border-radius: $radius;

}

header {
    @include border;
    margin: 10px auto;
    padding: $padd;
    background-color: $light_background;
    text-align: center;
}

body {
    width: 600px;
    margin: auto;
    font-family:$font;
    font-size: 1em;
    font-style:oblique;
    background-color: #dadadb
}


h1 {
    color:#58a0e0;
}

#content {
    border: 2px solid #064277;
    border-radius: 20px;
    margin: 10px auto;
    padding: $padd;
    background-color: $light_background;
}

#list{
    border: 2px solid #064277;
    border-radius: 20px;
    background-color: $light_background;
}

h2 {
    color: #064277;
}

h3 {
    margin-left: $margin_l;
    color:#58a0e0
}

ul{
    margin-left: $margin_l;
}

p{
    font-family: serif;
    font-style:normal;
}

.samplepara {
    border: 3px solid #58a0e0;
    border-radius: 5px;
    padding: $padd;
    background-color: white;
}

footer {
    border: 2px solid #064277;
    border-radius: 20px;
    margin: 10px auto;
    padding: $padd;
    background-color: aliceblue;
}

#footer {
    font-size: .75em;
    font-style:italic;
    font-weight: bold;
    color: #064277;
    text-align: center;
}


